body {
  font-family: 'Sukhumvit Set',sans-serif;
  margin:0;
  min-width:800px;
  height:auto;
  .label{
    color:white;
    position: absolute;
    z-index: 99;
    top:0;left:0;
    width:150px;
    font-size:10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    padding:10px;
    pointer-events: fill;
    transition: 0.2s linear background;
    &:hover{
      background: rgba(255,255,255,1);
      color:black;
    }
  }
  .footer{
    position: fixed;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    padding:10px;
    color:white;
  }
  .hud{
    padding:10px;
    color:white;
  }
  #hud{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: fixed;
    overflow: hidden;
    pointer-events:none;
    box-sizing: border-box;
    padding:30px;
  }
}


















.someClass {
  transition: 1s linear ease-in;
  transform: scale(1) rotate(45deg) translate(30px,40px);
}
