body {
  font-family: 'Sukhumvit Set',sans-serif;
  margin: 0;
  min-width: 800px;
  height: auto; }
  body .label {
    color: white;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 150px;
    font-size: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    pointer-events: fill;
    -webkit-transition: 0.2s linear background;
    transition: 0.2s linear background; }
    body .label:hover {
      background: white;
      color: black; }
  body .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    color: white; }
  body .hud {
    padding: 10px;
    color: white; }
  body #hud {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px; }











.someClass {
  -webkit-transition: 1s linear ease-in;
  transition: 1s linear ease-in;
  -webkit-transform: scale(1) rotate(45deg) translate(30px, 40px);
      -ms-transform: scale(1) rotate(45deg) translate(30px, 40px);
          transform: scale(1) rotate(45deg) translate(30px, 40px); }









/*# sourceMappingURL=main.css.map */
