<!DOCTYPE html>
<html ng-app="orbitHUD">

<head>
  <meta charset="utf-8">
  <title>ThreeJS 3D Coordinate 2D CSS Tracking Demo</title>
  <link href="css/sematic.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body ng-controller="hudController">

  <div class="hud">
    <button class="ui button" ng-click="toogleMoonView()">
      MoonView / Back to earth
    </button>
    <button class="ui button" ng-click="toogleCompare()">
      Send Moon to Orbit / Bring Moon back
    </button>
    <span>*Orbit information is not correct</span>
  </div>

  <div class="footer">
    3D Coordinate Tracking in 2D Coordinate with HTML/CSS Element Demo by <a href="http://www.facebook.com/rungsikorn">Rungsikorn.R</a>, <a href="https://www.facebook.com/chi.zzwzz?fref=ts">Vachirakorn.R</a>
  </div>
  <!--build:js js/main.min.js -->
  <script src="lib/threejs/build/three.min.js"></script>
  <script src="lib/threejs/examples/js/renderers/Projector.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/gsap/src/minified/TweenLite.min.js"></script>
  <script src="js/CSS3DRenderer.js"></script>
  <script src="lib/threejs/examples/js/controls/OrbitControls.js"></script>
  <script src="js/app.js"></script>
  <!-- endbuild -->


  <script>
  javascript:(function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();stats.domElement.style.cssText='position:fixed;right:10px;top:10px;z-index:10000';document.body.appendChild(stats.domElement);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='//rawgit.com/mrdoob/stats.js/master/build/stats.min.js';document.head.appendChild(script);})()
  </script>
</body>

</html>
